<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PH 6109 Meter Application</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/bulma.css">
    <link rel="stylesheet" href="styles/custom.css">
  </head>
  <body>
    <div id="app">
      <div id="sidebar">
        <div class="sidebar-button" 
          id="hovered-blue" 
          v-on:click="openPage('settings')"
          v-bind:class="{'disabled-button' : sidebarDisabled && activePage !== 'settings'}"
        >
          <img src="resources/settings.png" alt="">
          <div class="sidebar-button-title">
            Налаштування
          </div>
        </div>
        <div class="sidebar-button" 
          id="hovered-green" 
          v-on:click="openPage('ph')"
          v-bind:class="{'disabled-button' : sidebarDisabled && activePage !== 'ph'}"
        >
          <img src="resources/ph.png" alt="">
          <div class="sidebar-button-title">
            Режим PH
          </div>
        </div>
          <div class="sidebar-button" 
            id="hovered-orange"
            v-on:click="openPage('orp')"
            v-bind:class="{'disabled-button' : sidebarDisabled && activePage !== 'orp'}"
          >
            <img src="resources/orp.png" alt="">
            <div class="sidebar-button-title">
              Режим ORP
            </div>
          </div>
            <div class="sidebar-button" 
              id="hovered-red"
              v-on:click="openPage('info')"
              v-bind:class="{'disabled-button' : sidebarDisabled && activePage !== 'info'}"
              >
              <img src="resources/info.png" alt="">
              <div class="sidebar-button-title">
                Інформація
              </div>
            </div>
        </div>
        <div id="main-panel">
            <div class="page" v-show="activePage == 'settings'">
              <div class="page-title titled-blue">
                Налаштування
              </div>
              <div class="page-body section is-large">
                <div class="columns">
                  <div class="column">
                    <label>
                      Пристрій (порт)
                    </label>
                    <br>
                    <br>
                    <div class="select">
                      <select class="select is-info" v-model="device" v-on:change="connect(); saveConfig();">
                        <option selected value="COM1">COM 1</option>
                        <option value="COM2">COM 2</option>
                        <option value="COM3">COM 3</option>
                        <option value="COM4">COM 4</option>
                        <option value="COM5">COM 5</option>
                        <option value="COM6">COM 6</option>
                        <option value="COM7">COM 7</option>
                        <option value="COM8">COM 8</option>
                        <option value="COM9">COM 9</option>
                      </select>
                    </div>
                  </div>
                  <div class="column">
                    <label>Похибка PH</label>
                    <br>
                    <br>
                    <input type="number" step="0.01" v-model="ph.fault" class="input is-success width-100-px" v-on:change="saveConfig">
                  </div>
                  <div class="column">
                    <label>Похибка ORP</label>
                    <br>
                    <br>
                    <input type="number" step="0.01" v-model="orp.fault" class="input is-warning width-100-px" v-on:change="saveConfig">
                  </div>
                  <div class="column">
                    <label>Похибка Температури</label>
                    <br>
                    <br>
                    <input type="number" step="0.01" v-model="temp.fault" class="input is-info width-100-px" v-on:change="saveConfig">
                  </div>
                </div>
              </div>
            </div>
            <div class="page" v-show="activePage == 'ph'">
              <div class="page-title titled-green">
                Режим PH
              </div>
              <div class="page-body section is-large">
                <div class="columns">
                  <div class="column align-right">
                    <div class="select">
                      <select v-model="ph.mode" :disabled="active">
                        <option value="once">Один раз</option>
                        <option value="periodically">Періодично</option>
                      </select>
                    </div>
                  </div>
                  <div class="column" v-show="ph.mode == 'once'">
                    <div class="button" v-on:click="send">Зняти показник</div>
                  </div>
                  <div class="column" v-show="ph.mode == 'periodically'">
                    <div class="columns">
                      <div class="column">
                        <input type="number" v-model="ph.frequency" class="input is-success" min="1" placeholder="Частота">
                      </div>
                      <div class="column">
                        <div class="select">
                          <select v-model="ph.interval">
                            <option value="1">Секунд</option>
                            <option value="60">Хвилин</option>
                            <option value="3600">Годин</option>
                            <option value="86400">Діб</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column" v-show="ph.mode == 'periodically'">
                    <div class="columns">
                      <div class="column" v-if="!active">
                        <div class="button" v-on:click="runFrequency">Пуск</div>
                        <div class="button" v-show="ph.data.length > 0" v-on:click="createExcelFile">Зберегти файл</div>
                      </div>
                      <div class="column" v-if="active">
                        <div class="button is-danger" v-on:click="stopFrequency">Стоп</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="columns">
                  <div class="column align-center">
                    <span class="titled-green">
                      <span class="current-value">{{ph.currentValue}} pH</span>
                      <br>
                      <span class="last-value">Попереднє значення: {{ph.lastValue}} pH</span>
                    </span>
                  </div>
                  <div class="column align-center">
                    <span class="titled-blue">
                      <span class="current-value">{{temp.currentValue}} &#8451;</span>
                      <br>
                      <span class="last-value">Попереднє значення: {{temp.lastValue}} &#8451;</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="page" v-show="activePage == 'orp'">
              <div class="page-title titled-orange">
                Режим ORP
              </div>
              <div class="page-body section is-large">
                <div class="columns">
                  <div class="column align-right">
                    <div class="select">
                      <select v-model="orp.mode" :disabled="active">
                        <option value="once">Один раз</option>
                        <option value="periodically">Періодично</option>
                      </select>
                    </div>
                  </div>
                  <div class="column" v-show="orp.mode == 'once'">
                    <div class="button" v-on:click="send">Зняти показник</div>
                  </div>
                  <div class="column" v-show="orp.mode == 'periodically'">
                    <div class="columns">
                      <div class="column">
                        <input type="number" v-model="orp.frequency" class="input is-success" min="1" placeholder="Частота">
                      </div>
                      <div class="column">
                        <div class="select">
                          <select v-model="orp.interval">
                            <option value="1">Секунд</option>
                            <option value="60">Хвилин</option>
                            <option value="3600">Годин</option>
                            <option value="86400">Діб</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column" v-show="orp.mode == 'periodically'">
                    <div class="columns">
                      <div class="column" v-if="!active">
                        <div class="button" v-on:click="runFrequency">Пуск</div>
                        <div class="button" v-show="orp.data.length > 0" v-on:click="createExcelFile">Зберегти файл</div>
                      </div>
                      <div class="column" v-if="active">
                        <div class="button is-danger" v-on:click="stopFrequency">Стоп</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="columns">
                  <div class="column align-center">
                    <span class="titled-orange">
                      <span class="current-value">{{orp.currentValue}} mV</span>
                      <br>
                      <span class="last-value">Попереднє значення: {{orp.lastValue}} mV</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="page" v-show="activePage == 'info'">
              <div class="page-title titled-red">
                Інформація
              </div>
              <div class="page-body section is-large">
              </div>
            </div>
        </div>
    </div>
    <script>
      require('./logic.js')
    </script>
  </body>
</html>